.rafi-bg {
  background-color: #0d76ba;
}

.rafi-color {
  color: #0d76ba;
}

.rafi-color2 {
  color: white;
}

.rafi-bg2 {
  background-color: #e2edf5;
}

.rafi-bor {
  border: 1px solid salmon;
}

.rafi-hov:hover {
  cursor: pointer;
}

.rafi-hov h1 i:hover {
  color: #ffc516;
  font-size: 8vh;
  cursor: pointer;
}

.rafi-hov2:hover {
  font-weight: bold;
  color: white;
  background-color: #ffc516;
}

#utama {
  background-color: #0d76ba;
}

#nama-profil {
  font-family: roboto, sans-serif;
  font-weight: normal;
  letter-spacing: -0.2vh;
}

.rafiadadisini {
  letter-spacing: 0.3vh;
}

.judul-utama h1 {
  font-family: roboto, sans-serif;
  color: #0d76ba;
  font-weight: 300;
  letter-spacing: -0.2vh;
  text-transform: capitalize;
}

#project {
  background-color: #e2edf5;
}

#card-project h5 {
  color: #0d76ba;
  cursor: none;
}

#card-project h5:hover {
  color: #ffc516;
}

#contact {
  background-color: #e2edf5;
}
